'use strict';

import * as {name}Actions from './actions';

export const something = ( state ) => {
    let props = state.{name}Reducer;
    /**
     * TODO something function
     * state.dispatch( {name}Actions.someAction( result ) );
     */
};
